Repository swatDong/TeamsFx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode, @kimizhu, @swatDong, @kuojianlu, @a1exwang, @qinezh, @XiaofuHuang, @xiaolang124, @meifans, @dooriya, @timngmsft, @chagong, @Alive-Fish, @KennethBWSong, @adashen, @SLdragon, @formulahendry, @xzf0587, @blackchoey, @henzhang-ms, @eriolchan, @hund030, @IvanJobs, @YitongFeng-git, @hengzhang-ms, @1yefuwang1, @tecton, @dilin-MS, @wenytang-ms, @JerryYangKai

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms @jayzhang @LongOddCode
/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/qm @jayzhang @1openwindow  @HuihuiWu-Microsoft @nliu-ms
/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/test/suite/envChecker @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/resources/Strings.json @timngmsft @1openwindow @HuihuiWu-Microsoft

/packages/cli @chagong @Alive-Fish 
/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/cli/src/commonlib/appStudioLoginUserPassword.ts @chagong @Alive-Fish 
/packages/cli/src/commonlib/azureLoginUserPassword.ts @chagong @Alive-Fish 
/packages/cli/src/commonlib/graphLoginUserPassword.ts @chagong @Alive-Fish 
/packages/cli/src/commonlib/common/userPasswordConfig.ts @chagong @Alive-Fish 
/packages/cli/src/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang @meifans
/packages/cli/tests/e2e/aad @KennethBWSong @adashen @SLdragon
/packages/cli/tests/e2e/collaboration @KennethBWSong @adashen @SLdragon
/packages/cli/tests/e2e/simpleauth @KennethBWSong @adashen @formulahendry
/packages/cli/tests/e2e/sql @xzf0587 @adashen @blackchoey
/packages/cli/tests/e2e/apim @XiaofuHuang @dooriya @kimizhu
/packages/cli/tests/e2e/function @henzhang-ms @eriolchan @hund030
/packages/cli/tests/e2e/frontend @hund030 @eriolchan @henzhang-ms
/packages/cli/tests/e2e/bot @IvanJobs @eriolchan @YitongFeng-git
/packages/cli/tests/e2e/scaffold @hund030 @eriolchan @YitongFeng-git @IvanJobs @hengzhang-ms
/packages/cli/tests/e2e/multienv @a1exwang @dooriya @qinezh @xiaolang124 @kimizhu
/packages/cli/tests/unit/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/cli/tests/unit/cmds/preview @swatDong @kuojianlu @qinezh @a1exwang @meifans

/packages/api @jayzhang @1yefuwang1 @LongOddCode @nliu-ms
/packages/api/src/schemas @dooriya @qinezh @a1exwang @kimizhu

/packages/sdk @tecton @blackchoey @SLdragon @dilin-MS @wenytang-ms 

/packages/fx-core/src/core @jayzhang @LongOddCode @1yefuwang1 @nliu-ms
/packages/fx-core/src/core/middleware/projectMigrator.ts @dooriya @qinezh @a1exwang @meifans @blackchoey @wenytang-ms
/packages/fx-core/src/plugins/solution/fx-solution @1yefuwang1 @jayzhang @LongOddCode @nliu-ms
/packages/fx-core/src/plugins/solution/fx-solution/utils/depsChecker @a1exwang @kimizhu @meifans @qinezh

/packages/fx-core/src/plugins/resource/aad @KennethBWSong @adashen @SLdragon
/packages/fx-core/tests/plugins/resource/aad @KennethBWSong @adashen @SLdragon

/packages/fx-core/src/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu
/packages/fx-core/tests/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu

/packages/fx-core/src/plugins/resource/appstudio @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/appstudio @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/spfx  @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/spfx  @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/bot @IvanJobs @eriolchan @YitongFeng-git
/packages/fx-core/tests/plugins/resource/bot @IvanJobs @eriolchan @YitongFeng-git

/templates/bot @YitongFeng-git @IvanJobs @eriolchan
/templates/bot-msgext @YitongFeng-git @IvanJobs @eriolchan
/templates/msgext @YitongFeng-git @IvanJobs @eriolchan

/packages/fx-core/src/plugins/resource/frontend @hund030 @eriolchan @henzhang-ms
/packages/fx-core/tests/plugins/resource/frontend @hund030 @eriolchan @henzhang-ms

/packages/fx-core/src/plugins/resource/function @henzhang-ms @eriolchan @hund030
/packages/fx-core/tests/plugins/resource/function @henzhang-ms @eriolchan @hund030
/packages/fx-core/src/plugins/resource/function/utils/depsChecker @a1exwang @kimizhu @meifans @qinezh

/packages/fx-core/src/plugins/resource/identity @xzf0587 @adashen @blackchoey
/packages/fx-core/tests/plugins/resource/identity @xzf0587 @adashen @blackchoey

/packages/fx-core/src/plugins/resource/sql @xzf0587 @adashen @blackchoey
/packages/fx-core/tests/plugins/resource/sql @xzf0587 @adashen @blackchoey

/packages/fx-core/src/plugins/resource/localdebug @swatDong @kuojianlu
/packages/fx-core/tests/plugins/resource/localdebug @swatDong @kuojianlu

/packages/fx-core/src/plugins/resource/simpleauth @KennethBWSong @adashen @formulahendry
/packages/fx-core/tests/plugins/resource/simpleauth @KennethBWSong @adashen @formulahendry

/packages/simpleauth @adashen @blackchoey @wenytang-ms

/packages/function-extension @adashen @blackchoey @dilin-MS

/packages/dotnet-sdk @tecton  @JerryYangKai

/.github/workflows/cd.yml @adashen @LongOddCode @IvanJobs @qinezh @wenytang-ms

/packages/server @jayzhang @IvanJobs @Alive-Fish

chore: new template for local debug
  templates/bot/js/default/.env.teamsfx.local
  templates/bot/js/default/package.json
  templates/bot/ts/default/.env.teamsfx.local
  templates/bot/ts/default/package.json
  templates/function-base/js/default/.env.teamsfx.local
  templates/function-base/js/default/package.json
  templates/function-base/ts/default/.env.teamsfx.local
  templates/function-base/ts/default/package.json
  templates/msgext/js/default/.env.teamsfx.local
  templates/msgext/js/default/package.json
  templates/msgext/ts/default/.env.teamsfx.local
  templates/msgext/ts/default/package.json
  templates/tab/js/default/.env
  templates/tab/js/default/.env.teamsfx.local
  templates/tab/js/default/package.json
  templates/tab/ts/default/.env
  templates/tab/ts/default/.env.teamsfx.local
  templates/tab/ts/default/package.json
Owners: @YitongFeng-git, @IvanJobs, @eriolchan

chore: adjust scripts
  templates/function-base/js/default/package.json
  templates/function-base/ts/default/package.json
  templates/tab/js/default/package.json
  templates/tab/ts/default/package.json
Owners: none

test: update msgsa cli command (#13090)
  packages/tests/src/ui-test/localdebug/localdebugContext.ts
Owners: none

fix: list api for CEA only contains get and post (#13091)
  packages/fx-core/src/component/generator/apiSpec/helper.ts
Owners: none

docs: update changelog for 5.12.1
  packages/vscode-extension/CHANGELOG.md
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

docs: add prerelease changelog back to dev
  packages/vscode-extension/PRERELEASE.md
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

test: add cleanup app in ui test (#13103)
  packages/tests/src/ui-test/samples/sample-localdebug-react-retail-dashboard.test.ts
  packages/tests/src/ui-test/samples/sample-localdebug-todo-list-with-spfx.test.ts
  packages/tests/src/ui-test/samples/sample-remotedebug-react-retail-dashboard.test.ts
  packages/tests/src/ui-test/samples/sample-remotedebug-todo-list-with-spfx.test.ts
  packages/tests/src/utils/playwrightOperation.ts
Owners: none

build(release): publish detail
  packages/cli/package.json
  packages/fx-core/package.json
  packages/server/package.json
  packages/spec-parser/package.json
  packages/tests/package.json
  packages/vscode-extension/package.json
Owners: @chagong, @Alive-Fish, @jayzhang, @IvanJobs, @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @LongOddCode

refactor: move "Preview and Debug Adaptive Cards" to DEVELOPMENT section (#13104)
  packages/vscode-extension/src/treeview/treeViewManager.ts
  packages/vscode-extension/test/treeview/treeViewManager.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

feat: support test tool binary version (#13093)
  packages/fx-core/resource/yaml-schema/yaml.schema.json
  packages/fx-core/src/component/driver/devTool/installDriver.ts
  packages/fx-core/src/component/driver/devTool/interfaces/InstallToolArgs.ts
  packages/fx-core/tests/component/driver/devTool/installDriver.test.ts
  templates/python/custom-copilot-basic/.vscode/launch.json.tpl
  templates/python/custom-copilot-basic/.vscode/tasks.json
  templates/python/custom-copilot-basic/teamsapp.testtool.yml.tpl
Owners: none

feat(template): python use binary test tool (#13098)
  packages/fx-core/resource/yaml-schema/v1.8/yaml.schema.json
  packages/fx-core/resource/yaml-schema/yaml.schema.json
  templates/python/custom-copilot-assistant-assistants-api/.vscode/launch.json.tpl
  templates/python/custom-copilot-assistant-assistants-api/.vscode/tasks.json
  templates/python/custom-copilot-assistant-assistants-api/teamsapp.testtool.yml.tpl
  templates/python/custom-copilot-assistant-new/.vscode/launch.json.tpl
  templates/python/custom-copilot-assistant-new/.vscode/tasks.json
  templates/python/custom-copilot-assistant-new/teamsapp.testtool.yml.tpl
  templates/python/custom-copilot-basic/teamsapp.testtool.yml.tpl
  templates/python/custom-copilot-rag-azure-ai-search/.vscode/launch.json.tpl
  templates/python/custom-copilot-rag-azure-ai-search/.vscode/tasks.json
  templates/python/custom-copilot-rag-azure-ai-search/teamsapp.testtool.yml.tpl
  templates/python/custom-copilot-rag-custom-api/.vscode/launch.json.tpl
  templates/python/custom-copilot-rag-custom-api/.vscode/tasks.json
  templates/python/custom-copilot-rag-custom-api/teamsapp.testtool.yml.tpl
  templates/python/custom-copilot-rag-customize/.vscode/launch.json.tpl
  templates/python/custom-copilot-rag-customize/.vscode/tasks.json
  templates/python/custom-copilot-rag-customize/teamsapp.testtool.yml.tpl
Owners: none

fix: fix cea issues (#13107)
  templates/js/custom-copilot-rag-custom-api/teamsapp.local.yml.tpl
  templates/js/custom-copilot-rag-custom-api/teamsapp.yml.tpl
  templates/python/custom-copilot-rag-custom-api/requirements.txt
  templates/python/custom-copilot-rag-custom-api/src/bot.py.tpl
  templates/ts/custom-copilot-rag-custom-api/teamsapp.local.yml.tpl
  templates/ts/custom-copilot-rag-custom-api/teamsapp.yml.tpl
Owners: none

refactor: add project capability to DA templates (#13108)
  templates/csharp/api-plugin-existing-api/{{ProjectName}}.csproj.tpl
  templates/csharp/api-plugin-from-scratch-bearer/.{{NewProjectTypeName}}/{{NewProjectTypeName}}.{{NewProjectTypeExt}}.tpl
  templates/csharp/api-plugin-from-scratch-bearer/{{ProjectName}}.csproj.tpl
  templates/csharp/api-plugin-from-scratch-oauth/.{{NewProjectTypeName}}/{{NewProjectTypeName}}.{{NewProjectTypeExt}}.tpl
  templates/csharp/api-plugin-from-scratch-oauth/{{ProjectName}}.csproj.tpl
  templates/csharp/api-plugin-from-scratch/.{{NewProjectTypeName}}/{{NewProjectTypeName}}.{{NewProjectTypeExt}}.tpl
  templates/csharp/api-plugin-from-scratch/{{ProjectName}}.csproj.tpl
Owners: none

fix: fix bug in writing copilot debug log to file (#13077)
  packages/vscode-extension/src/pluginDebugger/copilotDebugLogOutput.ts
  packages/vscode-extension/test/pluginDebugger/copilotDebugLogOutput.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

fix: duplicated resource identifiers in lcl files (#13123)
  Localize/loc/cs/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/de/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/es/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/fr/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/it/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ja/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ko/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/pl/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/pt-BR/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ru/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/tr/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/zh-Hans/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/zh-Hant/packages/vscode-extension/package.nls.json.lcl
  packages/fx-core/resource/package.nls.zh-cn.json
  packages/fx-core/resource/package.nls.zh-tw.json
  packages/vscode-extension/package.nls.zh-cn.json
  packages/vscode-extension/package.nls.zh-tw.json
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

fix(loc): remove duplicated resource ids in ru locale (#13124)
  Localize/loc/ru/packages/vscode-extension/package.nls.json.lcl
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 23438: Build ID 10956493 (#13125)
  packages/fx-core/resource/package.nls.cs.json
  packages/fx-core/resource/package.nls.de.json
  packages/fx-core/resource/package.nls.es.json
  packages/fx-core/resource/package.nls.fr.json
  packages/fx-core/resource/package.nls.it.json
  packages/fx-core/resource/package.nls.ja.json
  packages/fx-core/resource/package.nls.ko.json
  packages/fx-core/resource/package.nls.pl.json
  packages/fx-core/resource/package.nls.pt-BR.json
  packages/fx-core/resource/package.nls.ru.json
  packages/fx-core/resource/package.nls.tr.json
  packages/fx-core/resource/package.nls.zh-Hans.json
  packages/fx-core/resource/package.nls.zh-Hant.json
  packages/vscode-extension/package.nls.cs.json
  packages/vscode-extension/package.nls.de.json
  packages/vscode-extension/package.nls.es.json
  packages/vscode-extension/package.nls.fr.json
  packages/vscode-extension/package.nls.it.json
  packages/vscode-extension/package.nls.ja.json
  packages/vscode-extension/package.nls.ko.json
  packages/vscode-extension/package.nls.pl.json
  packages/vscode-extension/package.nls.pt-BR.json
  packages/vscode-extension/package.nls.ru.json
  packages/vscode-extension/package.nls.tr.json
  packages/vscode-extension/package.nls.zh-Hans.json
  packages/vscode-extension/package.nls.zh-Hant.json
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

Juno: check in to juno/hb_fd34cb3d-1ea5-4a7c-8a66-721a44a97af3_20250205154553435. (#13128)
  Localize/loc/cs/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/cs/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/de/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/de/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/es/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/es/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/fr/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/fr/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/it/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/it/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ja/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/ja/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ko/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/ko/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/pl/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/pl/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/pt-BR/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/pt-BR/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ru/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/ru/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/tr/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/tr/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/zh-Hans/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/zh-Hans/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/zh-Hant/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/zh-Hant/packages/vscode-extension/package.nls.json.lcl
Owners: none

test: add timeout in action step (#13129)
  .github/workflows/e2e-test.yml
Owners: none

fix: update AssistantsPlanner parameter due to teams-ai sdk updates (#13109)
  templates/python/custom-copilot-assistant-assistants-api/src/utils/creator.py.tpl
Owners: none

Juno: check in to juno/hb_fd34cb3d-1ea5-4a7c-8a66-721a44a97af3_20250206154448259. (#13135)
  Localize/loc/cs/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/de/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/de/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/fr/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/fr/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ja/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/ja/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ko/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/pl/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/pl/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/ru/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/ru/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/tr/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/tr/packages/vscode-extension/package.nls.json.lcl
  Localize/loc/zh-Hans/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/zh-Hant/packages/fx-core/resource/package.nls.json.lcl
  Localize/loc/zh-Hant/packages/vscode-extension/package.nls.json.lcl
Owners: none

feat: Add knowledge to DA (#13132)
  packages/api/src/constants.ts
  packages/cli/src/resource/commands.json
  packages/cli/src/telemetry/cliTelemetryEvents.ts
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/core/FxCore.ts
  packages/fx-core/src/question/constants.ts
  packages/fx-core/src/question/create.ts
  packages/fx-core/src/question/generator.ts
  packages/fx-core/src/question/index.ts
  packages/fx-core/src/question/inputs/AddKnowledgeInputs.ts
  packages/fx-core/src/question/inputs/index.ts
  packages/fx-core/src/question/options/AddKnowledgeOptions.ts
  packages/fx-core/src/question/options/index.ts
  packages/fx-core/src/question/other.ts
  packages/fx-core/tests/core/FxCore.test.ts
  packages/fx-core/tests/question/question.test.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers/lifecycleHandlers.ts
  packages/vscode-extension/src/handlers/sharedOpts.ts
  packages/vscode-extension/src/telemetry/extTelemetryEvents.ts
  packages/vscode-extension/src/treeview/treeViewManager.ts
  packages/vscode-extension/test/handlers/lifecycleHandlers.test.ts
  packages/vscode-extension/test/mocks/mockCore.ts
Owners: @jayzhang, @1yefuwang1, @LongOddCode, @nliu-ms, @chagong, @Alive-Fish, @1openwindow, @HuihuiWu-Microsoft

feat: teams agent walkthrough (#13131)
  packages/vscode-extension/media/walkthroughs/teams-agent/copilot-plan.png
  packages/vscode-extension/media/walkthroughs/teams-agent/install-github-copilot-chat.svg
  packages/vscode-extension/media/walkthroughs/teams-agent/introduction.svg
  packages/vscode-extension/media/walkthroughs/teams-agent/sign-in-github-copilot-chat.png
  packages/vscode-extension/media/walkthroughs/teams-agent/use-teams-agent.svg
  packages/vscode-extension/package.json
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/constants.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers/controlHandlers.ts
  packages/vscode-extension/src/handlers/copilotChatHandlers.ts
  packages/vscode-extension/src/releaseBasedFeatureSettings.ts
  packages/vscode-extension/src/telemetry/extTelemetryEvents.ts
  packages/vscode-extension/src/utils/telemetryUtils.ts
  packages/vscode-extension/test/handlers/copilotChatHandlers.test.ts
  packages/vscode-extension/test/releaseBasedFeatureSettings.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

refactor: default view (#13136)
  packages/vscode-extension/media/walkthroughs/teams-agent/copilot-plan.png
  packages/vscode-extension/media/walkthroughs/teams-agent/install-teams-agent.png
  packages/vscode-extension/media/walkthroughs/teams-agent/sign-in-github-copilot-chat.png
  packages/vscode-extension/media/walkthroughs/teams-agent/use-teams-agent.svg
  packages/vscode-extension/package.json
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

build: skip commit if no change (#13140)
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

refactor: active ttk output panel as copilot reference for troubleshooting (#13138)
  packages/vscode-extension/src/handlers/copilotChatHandlers.ts
  packages/vscode-extension/test/handlers/copilotChatHandlers.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

perf: expose command to create Declarative Agent with API Spec (#13137)
  packages/vscode-extension/package.nls.json
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/handlers/createDeclarativeAgentWithApiSpecHandler.ts
  packages/vscode-extension/src/telemetry/extTelemetryEvents.ts
  packages/vscode-extension/test/handlers/createDeclarativeAgentWithApiSpecHandler.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

build: avoid error status code (#13141)
  .github/scripts/prerelease-feature-control.sh
  .github/workflows/cd.yml
Owners: @adashen, @LongOddCode, @IvanJobs, @qinezh, @wenytang-ms

perf(da): update build logic to support separate ac in plugin file (#13139)
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/component/driver/teamsApp/createAppPackage.ts
  packages/fx-core/tests/component/driver/teamsApp/createAppPackage.test.ts
  packages/fx-core/tests/plugins/resource/appstudio/resources-multi-env/templates/appPackage/resources/adaptiveCards/listRepairs.json
  packages/fx-core/tests/plugins/resource/appstudio/resources-multi-env/templates/appPackage/resources/adaptiveCards/postRepairs.json
  packages/fx-core/tests/plugins/resource/appstudio/resources-multi-env/templates/appPackage/resources/ai-plugin-with-external-ac.json
  packages/fx-core/tests/plugins/resource/appstudio/resources-multi-env/templates/appPackage/resources/declarativeAgent.json
Owners: @nliu-ms, @jayzhang

test: upgrade teams-ai to 1.6 (#13142)
  .github/workflows/ui-test.yml
Owners: none

feat: add server API for Add Action (#13143)
  packages/server/src/serverConnection.ts
  packages/server/tests/serverConnection.test.ts
Owners: @jayzhang, @IvanJobs, @Alive-Fish

feat: let user input OpenAI keys in F5 (#13130)
  packages/fx-core/resource/package.nls.json
  packages/fx-core/src/component/configManager/lifecycle.ts
  packages/fx-core/src/component/constants.ts
  packages/fx-core/src/component/driver/file/createOrUpdateEnvironmentFile.ts
  packages/fx-core/src/question/create.ts
  packages/fx-core/tests/component/configManager/lifecycle.test.ts
  packages/fx-core/tests/component/driver/file/createOrUpdateEnvironmentFile.test.ts
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 23438: Build ID 10981877 (#13144)
  packages/fx-core/resource/package.nls.cs.json
  packages/fx-core/resource/package.nls.de.json
  packages/fx-core/resource/package.nls.es.json
  packages/fx-core/resource/package.nls.fr.json
  packages/fx-core/resource/package.nls.it.json
  packages/fx-core/resource/package.nls.ja.json
  packages/fx-core/resource/package.nls.ko.json
  packages/fx-core/resource/package.nls.pl.json
  packages/fx-core/resource/package.nls.pt-BR.json
  packages/fx-core/resource/package.nls.ru.json
  packages/fx-core/resource/package.nls.tr.json
  packages/fx-core/resource/package.nls.zh-Hans.json
  packages/fx-core/resource/package.nls.zh-Hant.json
  packages/vscode-extension/package.nls.cs.json
  packages/vscode-extension/package.nls.de.json
  packages/vscode-extension/package.nls.es.json
  packages/vscode-extension/package.nls.fr.json
  packages/vscode-extension/package.nls.it.json
  packages/vscode-extension/package.nls.ja.json
  packages/vscode-extension/package.nls.ko.json
  packages/vscode-extension/package.nls.pl.json
  packages/vscode-extension/package.nls.pt-BR.json
  packages/vscode-extension/package.nls.ru.json
  packages/vscode-extension/package.nls.tr.json
  packages/vscode-extension/package.nls.zh-Hans.json
  packages/vscode-extension/package.nls.zh-Hant.json
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

refactor: add DeclarativeAgent project capability to C# project template (#13146)
  templates/csharp/copilot-gpt-basic/{{ProjectName}}.csproj.tpl
Owners: none

feat: upgrade vscode api to 1.93 (#13147)
  packages/vscode-extension/package.json
  packages/vscode-extension/pnpm-lock.yaml
  packages/vscode-extension/test/handlers/officeDevHandler.test.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

test: add author for testcase (#13148)
  packages/tests/src/e2e/mosApi/sideloading.tests.ts
Owners: none

refactor: disable graph connector entry (#13145)
  packages/fx-core/src/question/constants.ts
  packages/fx-core/src/question/inputs/AddKnowledgeInputs.ts
  packages/fx-core/src/question/options/AddKnowledgeOptions.ts
  packages/fx-core/tests/question/question.test.ts
Owners: none

test: python remote debug need twice deploy to fix known issue (#13149)
  packages/tests/src/ui-test/remotedebug/remotedebug-aiagent-assistapi-azureopenai-bot-py-win-only.test.ts
  packages/tests/src/ui-test/remotedebug/remotedebug-aiagent-new-azureopenai-bot-py.test.ts
Owners: none

refactor: add validations for DA templates (#13153)
  packages/vscode-extension/package.json
  packages/vscode-extension/src/extension.ts
Owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @jayzhang, @LongOddCode

fix: avoid debug event for DA projects (#13151)
  packages/fx-core/src/component/driver/file/createOrUpdateEnvironmentFile.ts
  packages/vscode-extension/src/debug/teamsfxDebugProvider.ts
Owners: @kimizhu, @swatDong, @kuojianlu, @a1exwang, @qinezh, @XiaofuHuang, @xiaolang124, @meifans, @dooriya
